version: '3.7'

services:
  app:
    build: ./server
    working_dir: /app
    environment:
      APP_ENV: local
      APP_DEBUG: TRUE
      BIGQUERY_PROJECT_ID: test
      BIGQUERY_EMULATOR_HOST: http://bigquery:9050
    volumes:
      - ${PWD}/server:/app
    command: "php artisan serve --host 0.0.0.0"
    ports:
      - "8000:8000"
  bigquery:
    image: ghcr.io/goccy/bigquery-emulator:latest
    ports:
      - "9050:9050"
    volumes:
      - ./testdata:/testdata
    command: "bigquery-emulator --project=test --data-from-yaml=../testdata/data.yaml"
