version: '3.7'

services:
  app:
    build: ./server
    working_dir: /app
    environment:
      APP_ENV: local
      APP_DEBUG: TRUE
      REDIS_HOST: redis
      REDIS_PASSWORD: null
      REDIS_PORT: 6379
      CACHE_DRIVER: redis
      SESSION_DRIVER: redis
      MAIL_MAILER: smtp
      MAIL_HOST: mailhog
      MAIL_PORT: 1025
      MAIL_USERNAME: null
      MAIL_PASSWORD: null
      MAIL_ENCRYPTION: ''
      MAIL_FROM_ADDRESS: example@example.com
    volumes:
      - ${PWD}/server:/app
    command: "php artisan serve --host 0.0.0.0"
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - mailhog
      - db

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"

  ruby:
    image: ruby:3.2.2
    working_dir: /app
    volumes:
      - ${PWD}:/app
      - bundle:/usr/local/bundle
    environment:
      MAILHOG_HOST: mailhog
      MAILHOG_PORT: 1025
    depends_on:
      - mailhog

  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: laravel
      MYSQL_USER: app_user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mydb:/var/lib/mysql

volumes:
  mydb:
  bundle:
